<% success.forEach((msg) => { %>

<div class="alert alert-success text-center"><%= msg %></div>

<% }) %> <% errors.forEach((msg) => { %>

<div class="alert alert-danger text-center"><%= msg %></div>

<% }) %>
